<div>
  User Types
  <button class="entity-type-selector" (click)="userTypeChange('customer')">Customer</button>
  <button class="entity-type-selector" (click)="userTypeChange('agent')">Agent</button>
  <button class="entity-type-selector" (click)="userTypeChange('employee')">Employee</button>
</div>

<spa-component appid="ipds" [usertype]="usertype"></spa-component> 
